.footer {
  padding: 2.5rem 9.6rem;
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid {
  display: grid;
  column-gap: 3.4rem;
  row-gap: 9.6rem;
}

.logo-footer {
  width: 130px;
}

.footer-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: var(---header-font-h3);
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin-bottom: 2rem;
}

.footer-nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--font-color);
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  padding: 0;
  margin-bottom: 2.75rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.download-text {
  margin-bottom: 1.5rem;
}
.download-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.copyright-text {
  margin-top: 2rem;
}
